@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.container .tenemosParaVos, .container main h3, .container .cont1, h3, .descripciones, .descripciones1, .descripciones2 {
  font-size: 2rem;
  font-family: 'Oswald', sans-serif;
  text-align: center; }

.container .logo {
  background-image: url(../images/cupcakes.jpg);
  text-align: center;
  padding: 1.1rem;
  margin: 2rem; }

.container .centrar {
  text-align: center;
  position: sticky;
  top: 0; }
  .container .centrar ul {
    color: black;
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    margin: 0.5rem;
    list-style: none; }
    .container .centrar ul li {
      color: #0e0d0d;
      list-style: none;
      padding: 0.5rem;
      margin: 0.5rem;
      border-radius: 1rem; }
      .container .centrar ul li:hover {
        color: #0e0d0d;
        background-color: #f5b3be;
        transform: scale(1.2); }
      .container .centrar ul li a {
        color: #0e0d0d;
        text-decoration: underline;
        font-family: 'Oswald', sans-serif;
        font-size: 1.5rem;
        margin: 0.5rem;
        padding: 0.5rem;
        border-radius: 0.5rem; }

.container .carousel-inner .carousel-caption .textoCarrusel {
  background-color: black;
  color: pink;
  background: rgba(4, 7, 9, 0.4);
  font-family: 'Times New Roman', Times, serif; }

.container .carousel-inner .carousel-caption .textocarrusel2 {
  background-color: transparent black;
  color: black;
  font-size: 1.1rem;
  background: rgba(238, 142, 129, 0.4);
  font-family: 'Times New Roman', Times, serif; }

.container h1 {
  font-family: 'Inspiration', cursive;
  font-size: 4rem;
  text-align: center;
  font-style: oblique;
  padding: 1rem;
  margin: 2.8rem 1.1rem 2rem 1.1rem;
  background-color: pink;
  display: table;
  border: 2px solid black; }

.container .tenemosParaVos {
  font-style: oblique;
  padding: 2rem;
  margin: 1rem;
  background-color: #f5b3be;
  display: table;
  display: inline-block;
  border: 2px solid black;
  text-decoration: underline; }

.container main h3 {
  color: #f5b3be;
  background-color: #0e0d0d;
  padding: 2px;
  margin: 5px;
  text-transform: uppercase;
  text-decoration: underline; }

.container .textoPresentacion {
  font-family: 'Oswald', sans-serif;
  font-size: 1rem;
  padding: 2rem;
  margin: 1rem; }

.container .tamañoImagenes {
  width: 500px;
  height: 300px; }

.container .contenedor {
  height: 100vh;
  display: grid;
  grid-template-rows: repeat(7, 2fr);
  grid-template-areas: "cont1 cont1 cont1 cont1" "img1 img1 img1 img1" "txt1 txt1 txt1 txt1" "cont2 cont2 cont2 cont2" "img2 img2 img2 img2" "txt2 txt2 txt2 txt2" "cont3 cont3 cont3 cont3" "img3 img3 img3 img3" "txt3 txt3 txt3 txt3";
  gap: 0.5rem;
  justify-content: center; }
  .container .contenedor .cont1 {
    grid-area: cont1; }
  .container .contenedor .img1 {
    grid-area: img1;
    justify-content: center;
    align-items: center;
    text-align: center; }
  .container .contenedor .txt1 {
    grid-area: txt1;
    text-align: center;
    font-size: 1rem;
    padding: 2rem;
    margin: 1.6rem; }
  .container .contenedor .cont2 {
    grid-area: cont2; }
  .container .contenedor .img2 {
    grid-area: img2;
    align-content: center;
    text-align: center; }
  .container .contenedor .txt2 {
    grid-area: txt2;
    text-align: center;
    font-size: 1rem;
    padding: 2rem;
    margin: 1.6rem; }
  .container .contenedor .cont3 {
    grid-area: cont3; }
  .container .contenedor .img3 {
    grid-area: img3;
    align-content: center;
    text-align: center; }
  .container .contenedor .txt3 {
    grid-area: txt3;
    text-align: center;
    font-size: 1rem;
    padding: 2rem;
    margin: 1.6rem; }

.container .cont1 {
  color: #f5b3be;
  background-color: #0e0d0d;
  padding: 2px;
  margin: 5px;
  text-transform: uppercase;
  text-decoration: underline; }

h3 {
  color: #f5b3be;
  background-color: #0e0d0d;
  padding: 2px;
  margin: 5px;
  text-transform: uppercase;
  text-decoration: underline; }

.container img {
  width: 31.5rem;
  height: 20rem;
  padding: 1.1rem;
  margin: 1.1rem; }

.tamañoImagenes {
  width: 31.5rem;
  height: 20rem;
  padding: 1.1rem;
  margin: 1.1rem;
  text-align: center; }

.container .contenedorCatering {
  height: 100vh;
  display: grid;
  grid-template-rows: repeat(7, 2fr);
  grid-template-areas: "descripciones1 descripciones1 descripciones1 descripciones1" "imgCatering1 imgCatering1 imgCatering1 imgCatering1" "txtCatering1 txtCatering1 txtCatering1 txtCatering1" "descripciones2 descripciones2 descripciones2 descripciones2" "imgCatering2 imgCatering2 imgCatering2 imgCatering2" "txtCatering2 txtCatering2 txtCatering2 txtCatering2";
  gap: 0.5rem;
  justify-content: center; }
  .container .contenedorCatering .descripciones1 {
    grid-area: descripciones1;
    color: #f5b3be;
    background-color: #0e0d0d;
    padding: 2px;
    margin: 5px;
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 2rem;
    font-family: 'Oswald', sans-serif;
    text-align: center; }
  .container .contenedorCatering .imgCatering1 {
    grid-area: imgCatering1;
    justify-content: center;
    align-items: center;
    text-align: center; }
  .container .contenedorCatering .txtCatering1 {
    grid-area: txtCatering1;
    text-align: center;
    font-size: 1rem;
    padding: 2rem;
    margin: 1.6rem; }
  .container .contenedorCatering .descripciones2 {
    grid-area: descripciones2;
    color: #f5b3be;
    background-color: #0e0d0d;
    padding: 2px;
    margin: 5px;
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 2rem;
    font-family: 'Oswald', sans-serif;
    text-align: center; }
  .container .contenedorCatering .imgCatering2 {
    grid-area: imgCatering2;
    align-content: center;
    text-align: center; }
  .container .contenedorCatering .txtCatering2 {
    grid-area: txtCatering2;
    text-align: center;
    font-size: 1rem;
    padding: 2rem;
    margin: 1.6rem; }

.descripciones {
  color: #f5b3be;
  background-color: #0e0d0d;
  padding: 2px;
  margin: 5px;
  text-transform: uppercase;
  text-decoration: underline; }

.descripciones1 {
  color: #f5b3be;
  background-color: #0e0d0d;
  padding: 2px;
  margin: 5px;
  text-transform: uppercase;
  text-decoration: underline; }

.descripciones2 {
  color: #f5b3be;
  background-color: #0e0d0d;
  padding: 2px;
  margin: 5px;
  text-transform: uppercase;
  text-decoration: underline; }

.textoImagenes {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2rem;
  padding: 2rem;
  margin: 1rem; }

footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 30px;
  width: 100%;
  text-align: right; }

.ContenedorTextosImagenFe .textosFe {
  padding: 2rem; }

@media only screen and (min-width: 768px) {
  .container .contenedor {
    height: 100vh;
    display: grid;
    grid-template-rows: repeat(7, 2fr);
    grid-template-areas: "cont1 cont1 cont1 cont1" "img1 img1 txt1 txt1" "cont2 cont2 cont2 cont2" "txt2 txt2 img2 img2" "cont3 cont3 cont3 cont3" "img3 img3 txt3 txt3";
    gap: 0.5rem;
    justify-content: center; }
    .container .contenedor .cont1 {
      grid-area: cont1; }
    .container .contenedor .img1 {
      grid-area: img1;
      justify-content: center;
      align-items: center;
      text-align: center; }
    .container .contenedor .txt1 {
      grid-area: txt1;
      text-align: center;
      font-size: 1rem;
      padding: 2rem;
      margin: 1.6rem; }
    .container .contenedor .cont2 {
      grid-area: cont2; }
    .container .contenedor .img2 {
      grid-area: img2;
      align-content: center;
      text-align: center; }
    .container .contenedor .txt2 {
      grid-area: txt2;
      text-align: center;
      font-size: 1rem;
      padding: 2rem;
      margin: 1.6rem; }
    .container .contenedor .cont3 {
      grid-area: cont3; }
    .container .contenedor .img3 {
      grid-area: img3;
      align-content: center;
      text-align: center; }
    .container .contenedor .txt3 {
      grid-area: txt3;
      text-align: center;
      font-size: 1rem;
      padding: 2rem;
      margin: 1.6rem; }
  .container .contenedorCatering {
    height: 100vh;
    display: grid;
    grid-template-rows: repeat(7, 2fr);
    grid-template-areas: "descripciones1 descripciones1 descripciones1 descripciones1" "imgCatering1 imgCatering1 txtCatering1 txtCatering1" "descripciones2 descripciones2 descripciones2 descripciones2" "txtCatering2 txtCatering2 imgCatering2 imgCatering2";
    gap: 0.5rem;
    justify-content: center; }
    .container .contenedorCatering .descripciones1 {
      grid-area: descripciones1;
      color: #f5b3be;
      background-color: #0e0d0d;
      padding: 2px;
      margin: 5px;
      text-transform: uppercase;
      text-decoration: underline;
      font-size: 2rem;
      font-family: 'Oswald', sans-serif;
      text-align: center; }
    .container .contenedorCatering .imgCatering1 {
      grid-area: imgCatering1;
      justify-content: center;
      align-items: center;
      text-align: center; }
    .container .contenedorCatering .txtCatering1 {
      grid-area: txtCatering1;
      text-align: center;
      font-size: 1rem;
      padding: 2rem;
      margin: 1.6rem; }
    .container .contenedorCatering .descripciones2 {
      grid-area: descripciones2;
      color: #f5b3be;
      background-color: #0e0d0d;
      padding: 2px;
      margin: 5px;
      text-transform: uppercase;
      text-decoration: underline;
      font-size: 2rem;
      font-family: 'Oswald', sans-serif;
      text-align: center; }
    .container .contenedorCatering .imgCatering2 {
      grid-area: imgCatering2;
      align-content: center;
      text-align: center; }
    .container .contenedorCatering .txtCatering2 {
      grid-area: txtCatering2;
      text-align: center;
      font-size: 1rem;
      padding: 2rem;
      margin: 1.6rem; }
  .descripciones {
    color: #f5b3be;
    background-color: #0e0d0d;
    padding: 2px;
    margin: 5px;
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 2rem;
    font-family: 'Oswald', sans-serif;
    text-align: center; }
  .descripciones1 {
    color: #f5b3be;
    background-color: #0e0d0d;
    padding: 2px;
    margin: 5px;
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 2rem;
    font-family: 'Oswald', sans-serif;
    text-align: center; }
  .descripciones2 {
    color: #f5b3be;
    background-color: #0e0d0d;
    padding: 2px;
    margin: 5px;
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 2rem;
    font-family: 'Oswald', sans-serif;
    text-align: center; } }

@media only screen and (min-width: 1024px) {
  .container .textoPresentacion {
    font-size: 1.3rem; }
  .container .contenedor .txt1 {
    grid-area: txt1;
    text-align: center;
    font-size: 1rem;
    padding: 2rem;
    margin: 1.6rem;
    font-size: 1.2rem; }
  .container .contenedor .txt2 {
    grid-area: txt2;
    text-align: center;
    font-size: 1rem;
    padding: 2rem;
    margin: 1.6rem;
    font-size: 1.2rem; }
  .container .contenedor .txt3 {
    grid-area: txt3;
    text-align: center;
    font-size: 1rem;
    padding: 2rem;
    margin: 1.6rem;
    font-size: 1.2rem; }
  .descripciones {
    color: #f5b3be;
    background-color: #0e0d0d;
    padding: 2px;
    margin: 5px;
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 2rem;
    font-family: 'Oswald', sans-serif;
    text-align: center; }
  .descripciones1 {
    color: #f5b3be;
    background-color: #0e0d0d;
    padding: 2px;
    margin: 5px;
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 2rem;
    font-family: 'Oswald', sans-serif;
    text-align: center; }
  .descripciones2 {
    color: #f5b3be;
    background-color: #0e0d0d;
    padding: 2px;
    margin: 5px;
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 2rem;
    font-family: 'Oswald', sans-serif;
    text-align: center; } }
